/* =================================
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}
body {
	line-height: 1.6;
	color: #3a3a3a;
  font-family: 'varela Round', sans-serif;
}

a {
	color:red;
	text-decoration: none;
}

img {
  width:190px;
	padding:5px 5px;
}

h2 {
	color:red;
	margin-top: 1px;
}

/* =================================
  Base Layout Styles
==================================== */

.banner {
	background-color: grey;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.headline {
	margin-bottom: 5px;
	margin-top:2px;
}

.headline,
.subheadline {
	color:white;
}

/* ---- Navigation ---- */
.name,
.main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 0px;
	margin-bottom: 6px;
}

.main-nav a {
	font-size: .95em;
	color: grey;
	text-transform: uppercase;
}
.name a,
.main-nav a {
  padding: 10px 10px;
  display: block;
}
/* ---- Layout Containers ---- */

.main-header {
	background: white;
  padding-top: 1px;
	padding-bottom: 1px;
}

.main-footer {
  text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
}

.container {
	padding-left:1em;
	padding-right:1em;
}

/*sticky footer*/
	.wrap {
		min-height: calc(100vh - 89px);
	}
/* ---- Media Queries ---- */

@media (min-width: 768px) {

/*float clearfix*/
	.clearfix::after {
	  content: " ";
		display: table;
		clear: both;
	}


/*navigation media styles*/
	.main-header{
		background-color: white;
		padding-left: 10px;
	}
	.name,
	.main-nav,
	.main-nav li {
		display: inline-block;
		background-color: white;
	}
	.name {
		margin-right: 50px;
		font-size: 3.0em;
	}
	.main-nav li {
		margin-right: 10px;
		font-size: 1.25em;
	}

/*main content styles*/
	.banner {
		background-color: grey;
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;
		margin-bottom: 2em;
	}
	.container {
		width:80%;
		margin: 0 auto;
	}
	.primary.col,
	.secondary.col{
		width:50%;
		padding-left: 0px;
		padding-right: 10px;
	}
	.primary.col {
		float:left;
	}
	.secondary.col {
		float:left;
	}
	.third.col{
		float:left;
	}
}
@media (min-width: 1150px) {

	.container {
		width:90%;
		max-width: 1300px;
	}
	.primary.col,
  .secondary.col{
 	 width:30%;
 	 padding-left: 5px;
 	 padding-right: 5px;
  }
  .third.col{
		width:40%;
}
