/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}
body {
  margin: auto 0;
  font-size: 1em;
  font-family: 'Roboto', arial, sans-serif;
  line-height: 1.5;
  text-align: center;
}

/*---Navigation---*/
.main-nav {
  background-color: black;
  color: white;
}
.main-nav li {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
}
.main-nav a {
	font-size: .95em;
	color: white;
  text-decoration: none;
	text-transform: uppercase;
}
.name a,
.main-nav a {
  padding: 10px 10px;
  display: block;
}
/*---Layout Containers---*/
.wrapper{
  background-color: black;
  margin-bottom: 50px;
}

.section {
  margin: auto;
  max-width: 80%;
}

.projectOverlay,.projectOverlay2, .projectOverlay3, .projectOverlay4 {
  position: relative;
  width:100%;
  margin: auto;
}
.greenwich, .js, .quiz {
  display: block;
  margin: auto;
  width:300px;
  height:250px;
  border: 1px solid black;
}

.overlay, .overlay2, .overlay3, .overlay4 {position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  margin: auto;
}
.projectOverlay:hover .overlay {
opacity: 1;
}
.projectOverlay2:hover .overlay2{
opacity: 1;
}
.projectOverlay3:hover .overlay3{
opacity: 1;
}
.projectOverlay4:hover .overlay4{
opacity: 1;
}
.text, .text2, .text3, .text4 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*footer*/
.main-footer {
  font-size: 13px;
  text-align: center;
  color: white;
  background-color: black;
}
.second-footer{
  margin-top:50px;
  margin-bottom:0;
}

/*sticky footer*/
.wrap {
		min-height: calc(100vh - 40px);
}

@media (min-width: 700px) {
/*float clearfix*/
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
/*navigation media styles*/
.main-header{
  background-color: white;
}
.name,
.main-nav,
.main-nav li {
  display: inline-block;
  background-color: black;
}
.name {
  margin-right: 50px;
  font-size: 3.0em;
}
.main-nav li {
  margin-right: 10px;
  font-size: 2.0em;
}
/*main content styles*/
.section {
  width:50%;
  max-width: 1250px;
}

.main-footer{
margin:auto;
}
.second-footer{
  margin-top:50px;
  margin-bottom:0;
}
}
